<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Note Page</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <div class="main w-full h-screen bg-black p-10 text-white">
        <form action="/edit" method="post">
            <input
                class="block w-1/2 rounded-full outline-none mt-2 px-5 py-2 bg-black border border-gray-500"
                type="text"
                placeholder="Enter old file name..."
                name="old"
                value="<%= filename %>"
            />
            <input
                class="block w-1/2 rounded-full outline-none mt-2 px-5 py-2 bg-black  border border-gray-500"
                placeholder="Enter New neme of File..."
                name="new"

            ></input>
            <input class="mt-2 bg-yellow-600 px-5 py-2 rounded-md text-white border border-yellow-700" type="submit" value="Update"/>
       </form>
    </div>
</body>
</html>